---
const { title, description } = Astro.props
---

<bio id="bio" class="panel">
  <div class="inner w-full split">
    <div>
      <section>
        <h2>Solar Storm</h2>
        <h4>30 anos da passagem de Ayrton Senna da Silva (34 anos)</h4>
        <div class="py-2">
          <div class="flex">
            <div class="text-3xl mb-7 text-justify paragraf">
              Ayrton Senna da Silva, um ícone do automobilismo, deixou um legado
              que transcende o esporte. Sua paixão, dedicação e espírito
              competitivo são lembrados e celebrados não só no Brasil, mas em
              todo o mundo. Senna demonstrou que a determinação e o amor pelo
              que se faz são fundamentais para superar desafios e alcançar o
              sucesso. Sua citação, “Com seu poder mental, sua determinação, seu
              instinto e a experiência também, você pode voar muito alto”,
              reflete a essência de sua filosofia de vida e carreira.
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section>
        <div class="py-2">
          <div class="flex">
            <div class="text-2xl mb-7 text-justify paragraf">
              Sua memória continua viva, inspirando não apenas pilotos e
              entusiastas do automobilismo, mas todos aqueles que buscam
              excelência e paixão em suas próprias vidas. Ayrton Senna será
              sempre lembrado como um herói nacional, um piloto exímio e um ser
              humano extraordinário cuja vida, embora curta, foi vivida com
              intensidade e propósito.
            </div>
          </div>
        </div>

        <div class="py-2">
          <div class="flex">
            <div class="text-2xl mb-7 text-justify paragraf">
              Este espaço é um tributo a um homem que não apenas dominou as
              pistas, mas também conquistou corações ao redor do mundo com sua
              humanidade e seu compromisso inabalável com a excelência.
            </div>
          </div>
        </div>

        <div class="py-10 w-full mt-10">
          <div class="flex w-full">
            <a href="https://ayrtonsenna-inmemoriam.netlify.app" class="button w-1/2"
              ><span class="icon solid fa-flag-checkered"></span> Carreira e Conquistas
            </a>
            <a href="https://ayrtonsenna-memories.netlify.app/" class="button w-1/2"
              ><span class="icon solid fa-flag-checkered"></span> Galeria de Memórias
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</bio>
