---
const { title, description } = Astro.props
---

<bio id="bio" class="panel">
  <div class="inner w-full split">
    <div>
      <section>
        <h2>Aurora Alert: Extreme (G5)</h2>
        <div class="py-2">
          <div class="flex">
            <div class="text-3xl mb-7 text-justify paragraf">
              Observed again at 2024-05-11 11:28 UTC (07:28 EDT), and storming of varying
              intensity will persist through at least Sunday. Currently the
              solar wind speed is above 800 km/s and the Bz component is south
              (-21nT). The threat of additional strong flares and CMEs will
              remain until the large and magnetically complex sunspot cluster
              (NOAA Region 3664) rotates out of view over the next several days.
              There have been reports of power grid irregularities and
              degradation to high-frequency communications and GPS. Overnight,
              aurora were visible across much of the United States, UK, Europe,
              Australia.  
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section>
        <h2>Alerta de aurora: Condições extremas (G5)</h2>
        <div class="py-2">
          <div class="flex">
            <div class="text-2xl mb-7 text-justify paragraf">
              Foram observadas novamente às 2024-05-11 11:28 UTC (07:28 EDT), e tempestades
              de intensidade variável persistirão pelo menos até domingo.
              Atualmente a velocidade do vento solar está acima de 800 km/s e o
              componente Bz é sul (-21nT).<br/>A ameaça de explosões fortes
              adicionais e CMEs permanecerá até que o grande e magneticamente
              complexo aglomerado de manchas solares (NOAA Região 3664) gire
              fora de vista nos próximos dias. Houve relatos de irregularidades
              na rede elétrica e degradação das comunicações de alta frequência
              e GPS. Durante a noite, auroras foram visíveis em grande parte dos
              Estados Unidos, Reino Unido, Europa, Austrália.  
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</bio>
