---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h3>Follow me on ...</h3>
        <ul class="icons">
          <li>
            <a href="https://twitter.com/artesdosul" class="icon brands fa-twitter" aria-label="Social">
              <span class="label">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/artesdosulweb" class="icon brands fa-facebook-f" aria-label="Social">
              <span class="label">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/araguaci.andrade/" class="icon brands fa-instagram" aria-label="Social">
              <span class="label">Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/araguaci" class="icon brands fa-github" aria-label="Social">
              <span class="label">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://dribbble.com/araguaci" class="icon brands fa-dribbble" aria-label="Social">
              <span class="label">Dribbble</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/araguaci/" class="icon brands fa-linkedin-in" aria-label="Social">
              <span class="label">LinkedIn</span>
            </a>
          </li>
        </ul>
      </section>
      <h3>Sources ...</h3>
      <p class="copyright"> 
        <a href="https://twitter.com/hashtag/aurora?src=hashtag_click/">aurora</a><br />
        <a href="https://twitter.com/hashtag/auroraboreal?src=hashtag_click/">auroraboreal</a><br />
        <a href="https://twitter.com/hashtag/auroraborealis?src=hashtag_click/">auroraborealis</a><br />
        <a href="https://twitter.com/hashtag/solarstorm?src=hashtag_click/">solarstorm</a><br />
        <a href="tps://www.foto-webcam.eu/webcam/bestof/">foto-webcam.eu</a><br />
      </p>
    </div>
    <div>
      <section>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/YnCaDRT9dKQ?si=6OPXgtzZOObjhues" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</footer>
