---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>Follow me on ...</h2>
        <ul class="icons">
          <li>
            <a href="https://twitter.com/artesdosul" class="icon brands fa-twitter" aria-label="Social">
              <span class="label">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/artesdosulweb" class="icon brands fa-facebook-f" aria-label="Social">
              <span class="label">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/araguaci.andrade/" class="icon brands fa-instagram" aria-label="Social">
              <span class="label">Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/araguaci" class="icon brands fa-github" aria-label="Social">
              <span class="label">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://dribbble.com/araguaci" class="icon brands fa-dribbble" aria-label="Social">
              <span class="label">Dribbble</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/araguaci/" class="icon brands fa-linkedin-in" aria-label="Social">
              <span class="label">LinkedIn</span>
            </a>
          </li>
        </ul>
      </section>
      <p class="copyright">Credits
        This theme is based off of the <a href="https://nvlabs.github.io/stylegan3/">StyleGAN3</a> style.
        <br />
        Developer: <a href="https://araguaci.github.io/">@araguaci</a><br />
        Organization: <a href="https://www.artesdosul.com/">@artesdosul</a><br />
        &copy; Design: <a href="http://html5up.net">HTML5 UP</a><br />
        Astro: <a href="https://area44.github.io/">@AREA44</a><br />
        Bing: <a href="https://www.bing.com/images/search?q=melhores+imagens+Ayrton+Senna&form=HDRSC3&first=1">garimpo ...</a><br />
        Google: <a href="https://www.google.com.br/search?newwindow=1&sca_esv=7af68be656babe85&sca_upv=1&sxsrf=ACQVn0_JSagrhm7pmFsXjbBhhoZPj0U_ZQ:1711907581487&q=melhores+imagens+Ayrton+Senna&uds=AMwkrPtf40cQEE8x2HwLs_wcbJ5slxE1_L9o-PP17JKeF2QFw5dzcc230aGC7io6XmkZVPManVuu9IyEDzD91785fVtME7ddm0OoL9pmCtLO44_yFk3ChY7R63qDOBu5VcM4NQiWC3lbF8VTNKI-J7KaRVmJ1UYPuWWCH3Xr0j8LpGHSYR1p5g0TCULpcH7uNl9CCr-XOix4ln9uEwc7QEMDXLpL-x37ygtzsjLiD9WEeXCXXhe63C3geP5SCPweoKDdAL09RC6_Cgp68y0yUq1aP4prNlkEcxS8jpmNSJALLzFjn8Oyl5SukqW3Te4-V65AIUs43iwudVVvoLf-PVmMxFk4L22CQw&udm=2&prmd=ivnsmbtz&sa=X&ved=2ahUKEwirmKHaiJ-FAxWLqZUCHTG1AMEQtKgLegQIChAB&biw=1402&bih=663&dpr=1.32">garimpo ...</a><br />
      </p>
    </div>
    <div>
      <section>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/YnCaDRT9dKQ?si=6OPXgtzZOObjhues" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</footer>
