---
const { title } = Astro.props
---

<div id="wrapper">
  <header id="header">
    <h1><img src="./favicon.ico" height="22" width="22" class="h2img" /> {title}</h1>
    <nav>
      <ul>
        <li>
          <a href="#bio" class="icon solid fa-flag-checkered"> G5 Extreme</a>
        </li>
        <li>
          <a href="#footer" class="icon solid fa-info-circle"> About</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
